@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* body{
    overflow: hidden;
    overflow: scroll;
} */
.banner {
    display: flex;
    /* justify-content: space-around; */
}

.banner-title {
    display: flex;
    justify-content: center;
    position: relative;
    left: 250px;
    top: 255px;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    color: #215e0b;
}


.banner-photo {
    background-image: url(images/banner/banner3.png);
    height: 808px;
    width: 1600px;
    overflow: hidden;

}

.banner2 {
    display: flex;
    justify-content: space-around;
    margin-top: 200px;

}

.profile-pic {
    margin-top: 50px;
    margin-left: 200px;
    background-color: pink;
    height: 300px;
    width: 300px;
    border: 1px solid black;
    border: none;
    border-radius: 50%;
    /* position: absolute; */
    /* overflow: hidden; */

}

.profile-pic img {
    height: 434px;
    width: 329px;
    position: relative;
    bottom: 133px;
    right: 20;
    right: 16px;
}

.banner2-title {
    padding-right: 180px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    padding-bottom: 20px;
    color: red;
}

.banner2-description {
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}

.form {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: brown;
}

.checkbox {
    padding: 4px 0;
}

.plans-title {
    margin-top: 80px;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.plan-list {
    display: flex;
    justify-content: center;
    padding: 0 30px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 70px;
}

.own-plan {
    padding: 0 70px;
    text-align: center;

}

.plan-sub-heading {
    color: rgb(88, 87, 87);
}

.call {
    background-image: url(images/watch.png);

    /* opacity: 0.2; */
    height: 300px;
    width: 1140px;
    margin: 0 auto;
}

.call {

    /* opacity: 0.5; */
}

.call-title {
    position: relative;
    bottom: 260px;
    left: 65px;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.call-btn {
    position: relative;
    bottom: 251px;
    left: 65px;
    background-color: #f1fdfd;
    height: 64px;
    width: 184px;
    color: #ea410e;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

.future-background {
    background-color: rgb(26, 23, 23);
    height: 570px;
    margin-top: 150px;
}

.future {
    display: flex;
    justify-content: space-around;

}

.left {
    color: white;
    /* font-family: 'Poppins', sans-serif; */
    height: 200px;
    width: 400px;
    margin: 150px;

}

.future-title {
    font-size: 30px;
    padding-bottom: 20px;
}

.future-description {
    font-size: 15px;
    padding-bottom: 15px;
}

.email {
    padding-bottom: 15px;
}

.number {
    padding-bottom: 15px;
}

.fb {
    padding-right: 10px;
}

.twit {
    padding-right: 10px;
}

.right {
    color: white;
    font-family: 'Poppins', sans-serif;
    height: 200px;
    width: 400px;
    margin: 150px;
}

.name-subscribe {
    padding-bottom: 25px;
}

.email-input input {
    background-color: rgb(26, 23, 23);
    color: white;
    font-weight: bold;
    height: 46px;
    width: 262px;
    border: 1px solid white;
    border-radius: 6px;
    padding-left: 10px;
    margin-bottom: 25px;
}

.subscirbe-btn {
    background-color: white;
    color: #e13f00;
    height: 46px;
    width: 141px;
    border: none;
    border-radius: 7px;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}