@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}
/* body{
    overflow: hidden;
    overflow: scroll;
} */
.banner {
    display: flex;
    /* justify-content: space-around; */
}

.banner-title {
    display: flex;
    justify-content: center;
    position: relative;
    left: 250px;
    top: 255px;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}


.banner-photo {
    background-image: url(images/banner/banner1.png);
    height: 808px;
    width: 1600px;
    overflow: hidden;
    
}
.banner2{
    display: flex;
    justify-content: space-around;
    margin-top: 200px;
    
}
.profile-pic{
    margin-top: 50px;
    margin-left: 200px;
    background-color: pink;
    height: 300px;
    width: 300px;
    border: 1px solid black;
    border: none;
    border-radius: 50%;
    /* position: absolute; */
    /* overflow: hidden; */

}
.profile-pic img{
    height: 434px;
    width: 329px;
    position: relative;
    bottom: 133px;
    right: 20;
    right: 16px;
}
.banner2-title{
 padding-right: 180px;
 font-family: 'Poppins', sans-serif;
 font-size: 25px;
 padding-bottom: 20px;
 color: red;
}
.banner2-description{
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}
.form{
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: brown;
}
.checkbox{
    padding: 4px 0;
}
.plans-title{
    margin-top: 80px;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
.plan-list{
    display: flex;
    justify-content: center;
    padding: 0 30px;
    font-family: 'Poppins', sans-serif;
}
.own-plan{
    padding: 0 70px;
    text-align: center;
    
}
.plan-sub-heading{
    color: rgb(88, 87, 87);
}
